<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nl.mprog.ghost" >

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="nl.mprog.ghost.FirstActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:screenOrientation="portrait"
            android:configChanges="layoutDirection|locale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="nl.mprog.ghost.GameActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:parentActivityName="nl.mprog.ghost.FirstActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="UnusedAttribute"
            android:configChanges="layoutDirection|locale">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.mprog.ghost.FirstActivity" />
        </activity>
        <activity
            android:name="nl.mprog.ghost.SelectPlayersActivity"
            android:label="@string/title_activity_select_players"
            android:icon="@mipmap/ic_launcher"
            android:parentActivityName="nl.mprog.ghost.FirstActivity"
            android:screenOrientation="portrait"
            tools:ignore="UnusedAttribute"
            android:configChanges="layoutDirection|locale">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.mprog.ghost.FirstActivity" />
        </activity>
        <activity
            android:name="nl.mprog.ghost.HighscoresActivity"
            android:label="@string/title_activity_highscores"
            android:icon="@mipmap/ic_launcher"
            android:parentActivityName="nl.mprog.ghost.FirstActivity"
            android:screenOrientation="portrait"
            tools:ignore="UnusedAttribute"
            android:configChanges="layoutDirection|locale">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.mprog.ghost.FirstActivity" />
        </activity>
    </application>

</manifest>
